@import '../../common-var.scss';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black-000;
    z-index: 9;

    h1 {
        font-family: Poppins-Black;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    ul {
        li {
            display: inline-block;
            padding: $padding-16;

            .MuiTypography-root {
                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: $yellow-ffb;
                    margin: auto;
                    margin-top: $unit / 2;
                    opacity: 0;
                    @include transition(0.5s);
                }

                &:hover {
                    color: inherit;

                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }

                &.active {
                    color: $yellow-ffb;
                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }

    .mobileMenu {
        position: fixed;
        width: $unit * 5;
        height: $unit * 5;
        position: fixed;
        top: 1.25rem;
        right: $unit * 4;
        cursor: pointer;

        span {
            display: block;
            width: 100%;
            height: $unit / 4;
            background-color: $white-fff;
            position: absolute;
            @include transition(0.2s);

            &:nth-child(1) {
                top: 10px;
                width: 50%;
            }

            &:nth-child(2) {
                top: 20px;
            }

            &:nth-child(3) {
                top: 30px;
                width: 50%;
                right: 0;
            }
        }

        .menuOpen {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 14px;
                    left: 3px;
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }

                &:nth-child(3) {
                    transform: rotate(45deg);
                    top: 28px;
                    right: 3px;
                }
            }
        }

        ul {
            position: fixed;
            width: 100%;
            left: 0px;
            top: 75px;
            background-color: $black-000;

            li {
                display: block;
                padding: 0;

                a {
                    display: block;
                    padding: 0.75rem 1.5rem;
                    @include transition(0.5s);

                    &::after {
                        display: none;
                    }

                    &:hover {
                        padding-left: 2rem;
                        color: $yellow-ffb;
                    }
                }
            }
        }
    }
}
