@import '../../common-var.scss';

.heroSection {
    padding: 5rem 0px;

    .heroText {
        .subHeading {
            color: $yellow-ffb;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.35em;
        }

        h1 {
            font-size: 3.725rem;
            line-height: 1.2;
            font-family: Poppins-Bold;

            span {
                font-family: Poppins-Bold;
                font-weight: 900;
            }
        }

        h2 {
            font-size: 2.25rem;
            line-height: 1.2;
            font-weight: 400;
            font-family: Poppins;
        }

        @include tabletPortrait() {
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2rem;
            }
        }

        @include mobile() {
            h1 {
                font-size: 2.725rem;
            }
            h2 {
                font-size: 1.725rem;
            }
        }
    }

    @include tabletLandscapeOnly() {
        .MuiGrid-grid-md-5,
        .MuiGrid-grid-md-7 {
            flex-grow: 0 !important;
            max-width: 50% !important;
            flex-basis: 50% !important;
        }
    }
}
