@import '../../common-var.scss';

.skills {
    .skillSet {
        padding-top: 0.25rem;

        h3,
        span {
            font-weight: 900;
            font-size: 1.25rem;
            margin: 0;
            line-height: 3rem;
        }

        .progress {
            background-color: $black-1A;
            height: 0.75rem;
            width: 100%;
            border-radius: 0.25rem;

            .progressBar {
                position: relative;
                background-color: $yellow-ffb;
                height: 0.75rem;
                border-radius: 0.25rem;

                span {
                    position: absolute;
                    right: 0;
                    top: -3rem;
                }
            }
        }

        @include tabletPortrait() {
            h3,
            span {
                font-size: 1.15rem;
                line-height: 2.25rem;
            }

            .progress {
                height: 0.35rem;
                .progressBar {
                    height: 0.35rem;

                    span {
                        top: -2.25rem;
                    }
                }
            }
        }

        @include mobile() {
            h3,
            span {
                font-size: 1rem;
                line-height: 2.25rem;
            }

            .progress {
                height: 0.35rem;
                .progressBar {
                    height: 0.35rem;

                    span {
                        top: -2.25rem;
                    }
                }
            }
        }
    }
}
